{
    "userName": "",
    "password":  "",
    "userAgent": "",
    "clientId":  "",
    "clientSecret": "",
    "subredditUrl": "",
    "denyMessage": "",
    "approveMessage": "",
    "greetingMessage": ""
}
